<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.bpf.springbootcmfz.dao.ManagerDAO">
    <select id="selectManager" resultType="Manager">
      select id , photoSrc,account,islogoff isLogoff,nickname nickName,
      pass,salt,regTime  from cmfz_manager
      where account=#{managerName}
    </select>
</mapper>